# Entornos virtuales
.venv/
venv/
env/
ENV/

# Carpetas de IDE y herramientas
.qodo/
.vscode/
.idea/
*.code-workspace

# Archivos de Sistema
.DS_Store
Thumbs.db
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
